*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --nav-bg-color: blue;
    --nav-text-color: white;
    --button-bg-color: yellow;
    --button-text-color: black;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

